<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8"> 
<title>Customer Segmentation</title> 
</head> 
<body background="https://www.imf.org/external/pubs/ft/fandd/2020/03/images/032020/picture1600.jpg" text="black"> 
<div class="login"> 
<center> 
<h1>Customer Segmentation</h1> 
</center> 
<!-- Main Input For Receiving Query to our ML --> 
<div style="text-align: center;">
<form action="{{ url_for('result')}}" method="post"> 
<h1>Please enter the following details</h1> 
<label>Gender:</label> 
<select name="gender"> 
<option value="0">Female</option> 
<option value="1">Male</option> 
</select><br><br> 
<label>Age:</label> 
<input type="number" name="age" min="0" max="120" required><br><br> 
<label>Category:</label> 
<select name="category"> 
    <option value="0">Clothing</option> 
    <option value="1">Shoes</option>
    <option value="2">Books</option> 
    <option value="3">Cosmetics</option> 
    <option value="4">Food & Beverage</option> 
    <option value="5">Toys</option> 
    <option value="6">Technology</option> 
    <option value="7">Souvenir</option>  
</select><br><br> 
<label>Quantity:</label> 
<input type="number" name="quantity" min="1" required><br><br> 
<label>Price:</label> 
<input type="number" name="price" min="0" required><br><br> 
<label>Payment Method:</label> 
<select name="payment_method"> 
    <option value="0">Credit Card</option> 
    <option value="1">Debit Card</option>
    <option value="2">Cash</option> 
</select><br><br> 
<label>Shopping Mall:</label> 
<select name="shopping_mall"> 
    <option value="0">Kanyon</option> 
    <option value="1">Forum Istanbul</option>
    <option value="2">Metrocity</option> 
    <option value="3">Metropol AVM</option> 
    <option value="4">Istinye Park</option> 
    <option value="5">Mall of Istanbul</option> 
    <option value="6">Emaar Square Mall</option> 
    <option value="7">Cevahir AVM</option>  
    <option value="8">Viaport Outlet</option> 
    <option value="9">Zorlu Center</option>  
</select><br><br> 
<button type="submit">Predict</button> 
</form> 
</div>
<br> <br> 
<div class="prediction" style="text-align: center;">
    <h2>{{ prediction_text }}</h2>
</div>
<br> <br> 
<img src="data:image/png;base64,{{url_3}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/> 
<img src="data:image/png;base64,{{url_1}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/> 
<img src="data:image/png;base64,{{url_4}}" alt="Submit Form" height="180" width="233" onerror="this.style.display='none'"/>  
</div>
</body> 
</html>
